---
layout: default
---
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <link rel="stykesheet" href="{{ '/' | relative_url }}">
  </head>

  <body class="contato_background">
    <header class="menu">
      <div class="caixa">
          
          <h1 class="logo">  
            <img id="logo" src="{{ '/assets/images/logo.png' | relative_url }}">
          </h1>

          <nav>
              <ul>
                   <li><a href="{{ '/' | relative_url }}">Home</a></li>
                   <li><a href="{{ '/sobre.html' | relative_url }}">Sobre</a></li>
              </ul>
          </nav>  
      </div>

    </header>
    
    {{content}}
    </body>

</html>